.modal {
  position: fixed;
  z-index: 999;
  width: 100%;
  left: 0;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container {
  position: relative;
  /* padding: 1.5rem; */
  width: auto;
  /* height: 100vh; */

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-container img{
  width: 400px;
}

/* @media (min-width: 760px) {
  .modal-container {
    width: 800px;
    height: 700px;
  }
} */

.modal-close {
  position: absolute;
  top: 1rem;
  right: 0rem;
  color: white;
}

.modal.is-open {
  display: flex;

}



